.Rproj.user
.Rhistory
.RData
.Ruserdata
99-resources
*solution
*solutions
*.Rproj
STATS-ASE 101 Brandon Kim.pdf
past-grade-distributions.JPG
Capture.JPG
QRcode-gameplan-informed-consent.png
QRcode-gameplan-survey.png
_extensions
